.input-group-addon-before {
	min-width: 35px;
}

.input-group-addon-after {
	min-width: 45px;
}

#input-group-addon-years {
	border-left: none;
}

.input-group-addon-btn.active {
	background-color: #337ab7;
	color: #EEE;
}

.form-group.has-error #input-group-addon.active {
  background-color: #a94442;
}

.form-group.has-success #input-group-addon.active {
  background-color: #3c763d;
}